@import '../../../../../global.scss';

.full-width {
    min-width: 150px;
    max-width: 500px;
    width: 80%;
}

.titleCard{
    font-size: 20px;
    font-weight: bold;
}

.error {
    color: red;
    margin-top: -2px;
    font-size: 11px;
}

.mt-3 {
    margin-top: 30px;
}

.togle-style {
    font-weight: bold;
    flex-wrap: wrap;
    box-shadow: none;
}

mat-button-toggle {
    border: 1px solid grey;
    border-radius: 10px;
    background-color: #f2f2f2;
    margin-right: 5px;
    margin-top: 5px;
}

span {
    cursor:pointer; 
}

.counter {
    display: flex;
    flex-direction: row;
}

.minus, .plus {
    width:5%;
    background:#f2f2f2;
    border-radius:4px;
    padding:8px 5px 8px 5px;
    border:1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.inputPriority{
    background: rgb(238, 232, 232);
    width: 10%;
    text-align: center;
    font-size: 16px;
    border:1px solid #ddd;
    border-radius:4px;
    display: inline-block;
    vertical-align: middle;
}