$form-check-input-checked-bg-color: $br-purple-800;
$form-check-input-checked-border-color: $br-purple-800;
$form-check-input-focus-border: $br-purple-800;
$input-focus-border-color: $br-purple-800;
$input-focus-box-shadow: none;
$form-check-input-focus-box-shadow: none;
$form-check-input-border: 1px solid rgba($br-purple-800, .25);