$br-base-white: #FFFFFF;

/*
Lista color purpura
*/

$br-purple-800: #523178;
$br-purple-600: #8C4799;

/*
Lista color gris
*/

$br-gray-prod: #F8F8F8;
$br-gray-500: #989898;
$br-gray-600: #848484;
$br-gray-700: #7E7E7E;

$br-gray-sub-menu-active: rgba(244, 244, 244, 1);
$br-gray-sub-menu-letter: #58595B;
$br-gray-sub-menu-border: rgba(230, 231, 232, 1);

$br-white-menu-inactive: rgba(255, 255, 255, 1);

$br-purple-menu-active: rgba(244, 240, 249, 1);
