@import '../../../../../global.scss';

.full-width {
  min-width: 150px;
  max-width: 500px;
  width: 80%;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.btn-delete-list {
  float: right;
}

li {
  height: 42px;
  border-bottom: grey;
  border-bottom-style: dotted;
}

.product-options{
  display: flex;
  align-content: center;
  height: 60px;
  flex-wrap: wrap;
  flex-direction: column;
}
