.main-container .main-container-form .container-info-form .container-form .date-box {
    width: 100%;
    margin-top: 40px;
}

.main-buttons {
    color: white;
}

.upload-button-quaternaty {
    color: white;
}

#sticky {
    position: sticky;
    position: -webkit-sticky;
    width: fit-content;
    height: fit-content;
    top: 30px;
    display: flex;
}
