@import '../../../global.scss';

.component-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 0;
  margin-bottom: 20px;
}

.name-archive {
  margin-top: 5px;
  font-size: 12.5px;
  color: $pink;
  width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  cursor: default;
}

.image {
  max-height: 250px;
  height: 100%;
  width: 100%;
}

.icon {
  width: 30px;
  height: 30px;
  background-size: contain;
  display: flex;
  align-self: center;
  margin: 0 15px;
}

.upload-button-quaternaty {
  max-width: 50%;
}

.button-quaternaty {
  margin-bottom: 10px;
  height: 35px;
  color: white;
}

.image-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 50px;
  width: 50%;
}

::ng-deep {
  .spinner-button {
    width: 148px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;

    mat-progress-spinner.spinner.mat-progress-spinner.mat-progress-spinner-indeterminate-animation.mat-accent {
      width: 18px !important;
      height: 18px !important;

      svg {
        width: 18px !important;
        height: 18px !important;

        circle {
          stroke: $purple;
        }
      }
    }
  }

  .spinner-img {
    display:flex;
  }
}

.copy {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  .i-copy {
    margin-right: 5px;
  }
}
