@import '../../../../global.scss';

.main-table {
  width: 1130px;
  background-color: $white;
  padding: 0;
  margin: 0px auto;
  font-family: $font-bold;

  .spinner {
    margin: 0 auto;
  }

  .search {
    position: absolute;
    z-index: 2;
    top: 8px;
    right: 0;
    margin: 0 26px;

    .input-search {
      width: 174px;
      height: 32px;
      outline-color: $white;
      border: 0;
      padding-left: 30px;
      font-size: 11.5px;
      font-family: $font-regular;
      letter-spacing: 0.3px;
    }
  }

  .i-search {
    background-position: 10px center;
    background-size: 12px;
  }

  ::ng-deep {

    .mat-progress-spinner circle,
    .mat-spinner circle {
      stroke: $purple;
    }

  }
}

.dates-table {
  .empty-message {
    color: $grey;
    font-size: 12.5px;
    text-align: center;
    margin-top: 40px;
  }

  .mat-header-row {
    padding: 0 24px;
  }

  .mat-header-cell {
    color: $purple;
    text-transform: uppercase;
    font-family: $font-semibold;
  }

  .mat-cell {
    color: $grey-ms;
    font-size: 12.5px;
    letter-spacing: 0.2px;
  }

  .mat-column-order {
    min-width: 60px;
    border: 0;

    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type=number] {
      -moz-appearance: textfield;
    }

    .input-order {
      border: 0;
      border-bottom: 1px solid $purple;
      width: 30px;
      font-size: 12.5px;
      font-family: $font-semibold;
      color: $purple;
      text-align: center;

      &:hover {
        cursor: auto;
      }

      &:focus {
        outline-color: $white;
      }

    }
  }

  .mat-column-rut {
    min-width: 85px;
    cursor: default;
  }

  %standard-column {
    min-width: 120px;
    padding-right: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    cursor: default;
  }

  .mat-column-periodicity {
    @extend %standard-column;
  }

  .mat-column-title {
    min-width: 330px;
    @extend %standard-column;
  }



  .mat-column-status {
    min-width: 92px;
    cursor: default;
    text-align: left;
    margin-right: 6px;
  }

  .mat-column-enabled {
    min-width: 60px;
    cursor: pointer;

    ::ng-deep {
      .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
        background-color: $purple-opacity;
      }

      .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
        background-color: $purple;
      }
    }
  }

  .mat-column-modifyOrDelete {
    min-width: 100px;

    &:focus {
      outline-color: $white;
    }
  }

  .actions-table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;

    .i-edit {
      background-size: 18px auto;
    }

    .i-calendar-edit {
      background-size: 18px auto;
    }

    .i-delete {
      background-size: 15px auto;
    }

    .i-edit,
    .i-delete,
    .i-copy,
    .i-calendar-edit {
      width: 22px;
      height: 22px;
      margin-right: 4px;
      border: 0;
      opacity: 0.8;
      background-color: transparent;

      &:hover {
        cursor: pointer;
        color: $purple;
        outline-color: $white;
        opacity: 1;
      }

      &:focus {
        outline-color: $white;
      }
    }

    .i-copy {
      background-size: 20px auto;
      margin-right: 0px;
    }
  }
}
