.button-quaternaty {
  color: white;
}

.main-container .main-container-form .container-info-form .container-form .date-box .special-info .buttons-box .upload-button-quaternaty .name-archive {
  width: 380px;
}

.preview img {
  max-width: 50%;
}

.mat-chip:not(.mat-basic-chip)+.mat-chip:not(.mat-basic-chip) {
  margin: 0 0 8px 8px;
}
