<div class="main-container">
  <mat-progress-spinner *ngIf="isLoading" mode="indeterminate" class="spinner home-spinner"></mat-progress-spinner>
  <mat-card *ngIf="!isLoading"  class="container-info">
    <div class="container-title">
      <p class="title"> Notificaciones Push
        <span class="title-highlighted">On/Off</span>
      </p>
    </div>
  </mat-card>

  <mat-card *ngIf="!isLoading" class="main-container-form">
    <mat-card-content class="container-info-form">
      <div class="container-form" [formGroup]="form">

        <!-- List of groups -->
        <section formArrayName="groups" *ngFor="let order of form.controls.groups.controls; let i = index" class="date-box">
          <mat-checkbox [formControlName]="i" class="example-margin">{{groupsData[i].name}}</mat-checkbox>
        </section>

      </div>
    </mat-card-content>

    <div class="container-buttons">
      <button mat-button (click)="goHome()" class="i-left-arrow button-tertiary">Home</button>
      <div class="main-buttons">
        <button mat-raised-button (click)="submit()" class="button-primary"
                [disabled]="disabledSave()">Guardar</button>
      </div>
    </div>
  </mat-card>
</div>
