<div class="main-container">
  <mat-card class="container-info">
    <div class="container-title">
      <p class="title"> Cargar
        <span class="title-highlighted">Imagen</span>
      </p>
    </div>
  </mat-card>
  <mat-card class="main-container-form">
    <mat-card-content class="container-info-form">
      <app-load-file-button [text]="text" [extensions]="extensions" [isLoading]="isUploading"
        (file)="uploadMainImage($event)"></app-load-file-button>
    </mat-card-content>
    <div class="container-buttons">
      <button mat-button (click)="goBack()" class="i-left-arrow button-tertiary">Volver</button>
    </div>
  </mat-card>
</div>