<div [formGroup]="fifthStepForm">
  <p class="title-section title-image">Acción de botón multi-funcional</p>
  <mat-slide-toggle class="full-width" formControlName="showLink" [(ngModel)]='show'></mat-slide-toggle>
  
  <div *ngIf="show">
    <mat-form-field class="full-width">
      <input matInput placeholder="Texto boton multifuncional" formControlName="linkText" [(ngModel)]="linkText">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Accion boton multifuncional" formControlName="dynamicUrl" [(ngModel)]="dynamicUrl">
    </mat-form-field>
    <mat-button-toggle-group #group class="full-width togle-style">
      <mat-button-toggle (click)="setDynamicUrl('avsav')">
        Avances
      </mat-button-toggle>
      <mat-button-toggle (click)="setDynamicUrl('benefits')">
        Beneficios
      </mat-button-toggle>
      <mat-button-toggle (click)="setDynamicUrl('pay')">
        Pagar
      </mat-button-toggle>
      <mat-button-toggle (click)="setDynamicUrl('transfer')">
        Transferir
      </mat-button-toggle>
      <mat-button-toggle (click)="setDynamicUrl('newcode')">
        Nuevo codigo
      </mat-button-toggle>
      <mat-button-toggle (click)="setDynamicUrl('subscribe')">
        Suscribir
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <mat-form-field class="full-width mt-3">
    <input matInput placeholder="Texto para compartir" formControlName="shareText" [(ngModel)]="shareText">
  </mat-form-field>
  <div>
  
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-raised-button class="button-secundary mt-3" [disabled]="!fifthStepForm.valid" (click)="saveStepFive()">Previsualizar</button>
      <button mat-button class="button-secondary" [disabled]="!fifthStepForm.valid" (click)="saveBenefit()">Guardar</button>
      <button mat-button class="button-primary" [disabled]="!fifthStepForm.valid" (click)="publishBenefit()">Publicar</button>
    </div>
  </div>
</div>