<div class="main-container">
  <mat-progress-spinner *ngIf="loadingData" mode="indeterminate" class="spinner home-spinner"></mat-progress-spinner>
  
  <div class="drawer-container">
    <div class="drawer-side" mode="side" opened>
      <button mat-raised-button *ngFor="let group of benefitCategories; let i = index" 
      class="type-button" [color]=" i===selectedTypeIndex ? 'primary' : null" (click)="selectType(i)" >
        <span class="md-chip total">
          {{ group.publishedBenefit.length }}  
          <span class="i-eye-gray i-eye-inline"></span>
        </span> 
         <span class="type-button-text">{{group.type.sectionTitle}} </span>
         <span class="type-button-text-inactive" *ngIf="!group.type.active">(Inactivo)</span>
      </button>
    </div>
    <div class="drawer-content" >

      <ng-container *ngIf="!loadingData && hasAccess">
        <mat-card class="main-table" *ngIf="!loadingData">
          <div class="search">
            <mat-checkbox class="published-check" [(ngModel)]="onlyPublished">Mostrar solo beneficios visibles (publicados y vigentes). </mat-checkbox>
            <input type="text" (keyup)="applyFilter($event.target.value)" placeholder="Buscar..."
              class="input-search i-search">
          </div>
          <mat-tab-group class="tab-content">
            <mat-tab [label]="categories[selectedTypeIndex].type + ' - ' + categories[selectedTypeIndex].sectionTitle" class="title-tab">
              <div class="dates-table">
                <div *ngIf="benefitsList.length === 0" class="empty-message">Aún no hay beneficios creados.</div>
                <mat-table *ngIf="benefitsList.length > 0" #benefitTable [dataSource]="benefitsDataSource">

                  <!-- Order Column -->
                  <ng-container matColumnDef="order">
                    <mat-header-cell *matHeaderCellDef> orden </mat-header-cell>
                    <mat-cell *matCellDef="let benefit">
                      <input matInput type="number" placeholder="Orden" [(ngModel)]="benefit.newBenefit.orderPriority"
                        (change)="setOrderOnBenefit(benefit)" class="input-order">
                    </mat-cell>
                  </ng-container>

                  <!-- Periodicity Column -->
                  <ng-container matColumnDef="periodicity">
                    <mat-header-cell *matHeaderCellDef> periodicidad </mat-header-cell>
                    <mat-cell *matCellDef="let benefit" matTooltip=""> 
                      <span class="periodicity-text">{{benefit.newBenefit?.listHeaderText}}</span>
                    </mat-cell>
                  </ng-container>

                  <!-- Title Column -->
                  <ng-container matColumnDef="title">
                    <mat-header-cell *matHeaderCellDef> título del beneficio </mat-header-cell>
                    <mat-cell *matCellDef="let benefit" matTooltip="">
                      <span class="title-text">{{benefit.newBenefit?.benefitDiscount}} - {{benefit.newBenefit?.title}}</span>
                    </mat-cell>
                  </ng-container>

                  <!-- Start Date Column -->
                  <ng-container matColumnDef="startDate">
                    <mat-header-cell *matHeaderCellDef> Vigencia </mat-header-cell>
                    <mat-cell *matCellDef="let benefit" >
                      <span [class.active]="this.validities[benefit.id]" *ngIf="benefit.newBenefit.startDate">
                       {{benefit.newBenefit?.startDate | date:'dd/MM/yyyy'}} a {{benefit.newBenefit?.endDate | date:'dd/MM/yyyy'}} 
                      </span>
                    </mat-cell>
                  </ng-container>

                  <!-- status Column -->
                  <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef>Visible</mat-header-cell>
                    <mat-cell *matCellDef="let benefit"> 
                      <div class="i-eye-gray" *ngIf="this.validities[benefit.id] && isPublished(benefit)"></div>
                    </mat-cell>
                  </ng-container>

                  <!-- Status toogle Column -->
                  <ng-container matColumnDef="statusToogle">
                    <mat-header-cell *matHeaderCellDef>Publicación</mat-header-cell>
                    <mat-cell *matCellDef="let benefit">
                      <mat-slide-toggle class="example-margin" *ngIf="benefit.newBenefit?.type ==='personal'"
                      [color]="color"
                        [checked]="benefit.newBenefit?.statusPersonalBenefit === 'Publicado'" (change)="toggleChange(benefit)"
                        [disabled]="modifiyingBenefit || benefit.newBenefit?.orderPriority === null ">
                      </mat-slide-toggle>
                      <mat-slide-toggle class="example-margin" *ngIf="benefit.newBenefit?.type !=='personal'"
                      [color]="color"
                        [checked]="benefit.newBenefit?.status === 'Publicado'" (change)="toggleChange(benefit)"
                        [disabled]="modifiyingBenefit || benefit.newBenefit?.orderPriority === null">
                      </mat-slide-toggle>
                    </mat-cell>
                  </ng-container>

                  <!-- Modify or Delete Column -->
                  <ng-container matColumnDef="modifyOrDelete">
                    <mat-header-cell *matHeaderCellDef>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let benefit" class="actions-table">
                      <button class="i-tag" (click)="showTagBenefitModal(benefit.id)" [disabled]="modifiyingBenefit">@</button>
                      <button class="i-edit" (click)="modifyBenefit(benefit)" [disabled]="modifiyingBenefit"></button>
                      <button class="i-calendar-edit" (click)="modifyBenefitCodesPeriod(benefit)"
                        [disabled]="modifiyingBenefit"></button>
                      <button class="i-delete" (click)="deleteBenefit(benefit)" [disabled]="modifiyingBenefit"></button>
                      <button class="i-copy" (click)="copyBenefitConfirm(benefit)" [disabled]="modifiyingBenefit"></button>
                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns; let i = index" 
                    [class.hidden]="onlyPublished && (!this.validities[row.id] || !isPublished(row))"></mat-row>
                </mat-table>
              </div>
            </mat-tab>
          </mat-tab-group>
          <div class="container-new-benefit">
            <span class="title-button" (click)="addNewBenefit()">Nuevo beneficio</span>
            <button mat-fab class="button-new-benefit" (click)="addNewBenefit()">+</button>
          </div>
        </mat-card>
      </ng-container>

    </div>
  </div>
  
</div>
