h3 {
  font-family: "Montserrat" !important;
  color: $br-purple-800 !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 20px !important;
  line-height: 30px !important;
  text-align: left !important;
}
