@import '../../../../../global.scss';
$width-form: 580px;

.platforms-info {
  display: flex;
  justify-content: center;
}

.container-buttons {
  display: flex;
  justify-content: space-between;
}

.container-info-form {
  justify-content: center;

  .container-form {
    .user-location {
      display: flex;
      justify-content: center;
      width: auto;

      &.checkbox {
        width: 380px;
        justify-content: end;
        margin-left: 140px;
      }
    }

    .input-info {
      width: auto;
    }
  }
}

.login-buttons {
  display: flex;
}

.main-buttons {
  margin-right: 10px;
}

.field-text {
  display: flex;
  justify-content: center;
}

span {
  &.text-bold {
    font-family: "Montserrat Semibold", sans-serif;
  }
}

.upload-button-quaternaty {
  margin-left: 120px;
}

.container-upload-rut {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;

  .container-form-upload-rut {
    width: $width-form;
    background-color: #f5f5f5;
    border-radius: 8px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .title-content {
      color: #4f2d7f;
      font-weight: 600;
      font-size: 12.5px;
      margin-bottom: 0.5rem;
    }

    .subtitle-content {
      color: #4F2D7F;
      font-weight: 400;
      font-size: 10px;
      line-height: 15px;
      letter-spacing: 0.5px;
    }

    .btn-upload {
      cursor: pointer;
      margin-top: 16px;
      display: flex;
      background: #523178;
      border-radius: 32px;
      padding: 8px 16px;
      border: none;
      min-width: 200px;
      align-items: center;

      &.disabled{
        opacity: 50%;
        cursor: default;
      }
    }

    .btn-title {
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.15px;
      color: white;
    }
  }
}

.btn-chip {
  display: flex;
  background: #523178;
  border-radius: 32px;
  padding: 0.5rem;
  border: none;
  min-width: 170px;
  color: white;
  &:disabled{
    opacity: 50%;
  }
}

.btn-rut-secure {
  display: flex;
  border-radius: 32px;
  padding: 8px 16px;
  border: 1px solid #EBDAFF;
  border-radius: 8px;
  background: #FFFFFF;
}

.btn-rut-secure-title {
  color: #444444;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;

  label {
    color: #6F6F6F;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
  }

  .input {
    position: relative;
    &.has-error::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      display: block;
      background-image: url('/assets/icon/error-outline.svg');
      top: calc(50% + 2px);
      transform: translate(-50%, -50%);
      right: 0;
      background-repeat: no-repeat;
    }

    &.has-error > input {
      border-color: red;
    }

    input {
      padding: 1rem;
      background-color: white;
      border-radius: 4px;
      border: 1px solid #989898;
      position: relative;
      display: block;
      width: 100%;
      padding-right: 1.925rem;
    }
  }
}

.form-container {
  display: flex;
  width: $width-form;
  margin: 0 auto;
  flex-direction: column;
  align-items: flex-start;

  .form-row {
    display: flex;

    .input-group {
      margin-right: 1rem;
    }
  }
}

.negro {
  color: black;
}

.btn-delete {
  color: #8E3F93;
  border: none;
  background-color: white;
  font-size: 12px;
  height: 27px;
  margin-top: auto;
  margin-bottom: 1rem;
}


