<div class="main-container">
  <mat-card class="container-info">
    <div class="container-title">
      <p class="title"> {{ id ? 'Actualizar' : 'Nueva' }}
        <span class="title-highlighted">Campaña: 3ª caja</span>
      </p>
    </div>
  </mat-card>
  <mat-card class="main-container-form">
    <mat-card-content class="container-info-form">
      <div class="container-form" [formGroup]="campaignForm">
        <section class="date-box benefit-header-box">
          <section class="dates-info">

            <!-- Core -->
            <section>
              <div class="user-location">
                <mat-checkbox [(ngModel)]="campaign.activePWA" [ngModelOptions]="{ standalone: true }">Activo en PWA
                </mat-checkbox>
              </div>

                <div class="user-location">
                  <mat-checkbox [(ngModel)]="campaign.totem" [ngModelOptions]="{ standalone: true }">Mostrar en Totem
                  </mat-checkbox>
                </div>

                <mat-form-field class="input-info field-text">
                  <input matInput type="text" [readonly]="id"
                    placeholder="Id de campaña"
                    formControlName="id"
                    [(ngModel)]="campaign.id"
                    required
                    maxlength="35">
                  <mat-hint>Sin espacios, Ej: AvSav-2.5mm</mat-hint>
                  <mat-hint class="input-length" align="end">{{ campaign.id ? campaign.id.length : 0 }} / 35</mat-hint>
                </mat-form-field>

                <mat-form-field class="input-info field-text">
                  <input matInput type="number"
                    placeholder="Prioridad"
                    formControlName="priority"
                    [(ngModel)]="campaign.priority"
                    onkeydown="return event.keyCode !== 69" required>
                  <mat-hint>Ej: 2</mat-hint>
                </mat-form-field>
              </section>

              <!-- Normal inputs -->
              <section>
                <!-- Texts -->
                <mat-form-field class="input-info field-text">
                  <input matInput type="text"
                    placeholder="Texto del título"
                    formControlName="title"
                    [(ngModel)]="campaign.title"
                    required
                    maxlength="40">
                  <mat-hint>Ej: Cyber: Avance con 40% dcto</mat-hint>
                  <mat-hint class="input-length" align="end">{{ campaign.title ? campaign.title.length : 0 }} / 40</mat-hint>
                </mat-form-field>

                <mat-form-field class="input-info field-text">
                  <input matInput type="text"
                    placeholder="Texto del botón"
                    formControlName="buttonText"
                    [(ngModel)]="campaign.buttonText"
                    maxlength="20">
                  <mat-hint>Ej: ¡Super Promo!</mat-hint>
                  <mat-hint class="input-length" align="end">{{ campaign.buttonText ? campaign.buttonText.length : 0 }} / 20</mat-hint>
                </mat-form-field>

                <mat-form-field class="input-info field-text">
                  <input matInput type="text"
                    placeholder="Texto de la etiqueta"
                    formControlName="labelText"
                    [(ngModel)]="campaign.labelText"
                    required
                    maxlength="20">
                  <mat-hint>Ej: 40% dcto</mat-hint>
                  <mat-hint class="input-length" align="end">{{ campaign.labelText ? campaign.labelText.length : 0 }} / 20</mat-hint>
                </mat-form-field>

                <mat-form-field class="input-info field-text">
                  <input matInput type="text"
                    placeholder="Descripción de la etiqueta"
                    formControlName="labelDescription"
                    [(ngModel)]="campaign.labelDescription"
                    maxlength="40">
                  <mat-hint>Ej: en la tasa!</mat-hint>
                  <mat-hint class="input-length" align="end">{{ campaign.labelDescription ? campaign.labelDescription.length : 0 }} / 40</mat-hint>
                </mat-form-field>

                <mat-form-field class="input-info field-text">
                  <input matInput type="text"
                    placeholder="Texto de las cuotas"
                    formControlName="quotasText"
                    [(ngModel)]="campaign.quotasText"
                    required
                    maxlength="40">
                  <mat-hint>Ej: 18 cuotas de $53.290</mat-hint>
                  <mat-hint class="input-length" align="end">{{ campaign.quotasText ? campaign.quotasText.length : 0 }} / 40</mat-hint>
                </mat-form-field>

                <mat-form-field class="input-info field-text">
                  <input matInput type="text"
                    placeholder="Texto de la tasa"
                    formControlName="rateText"
                    [(ngModel)]="campaign.rateText"
                    maxlength="20">
                  <mat-hint>Ej: CAE: 21,97%</mat-hint>
                  <mat-hint class="input-length" align="end">{{ campaign.rateText ? campaign.rateText.length : 0 }} / 20</mat-hint>
                </mat-form-field>

                <mat-form-field class="input-info field-text">
                  <input matInput type="text"
                    placeholder="Texto de costo total"
                    formControlName="totalCostText"
                    [(ngModel)]="campaign.totalCostText"
                    required
                    maxlength="30">
                  <mat-hint>Ej: Costo total:$962.138</mat-hint>
                  <mat-hint class="input-length" align="end">{{ campaign.totalCostText ? campaign.totalCostText.length : 0 }} / 30</mat-hint>
                </mat-form-field>

              </section>

              <!-- Styles -->
              <section>

                <mat-form-field class="input-info field-text input-color">
                  <input matInput type="text"
                    placeholder="Color del botón"
                    formControlName="bgButtonColor"
                    [(ngModel)]="campaign.styles.bgButtonColor"
                    required
                    maxlength="7">
                  <input matInput type="color"
                    placeholder="Color del botón"
                    formControlName="bgButtonColor"
                    [(ngModel)]="campaign.styles.bgButtonColor"
                    required
                    maxlength="7">
                  <mat-hint>Ej: #ffffff</mat-hint>
                  <mat-hint class="input-length" align="end">{{ campaign.styles.bgButtonColor ? campaign.styles.bgButtonColor.length : 0 }} / 7</mat-hint>
                </mat-form-field>

                <mat-form-field class="input-info field-text input-color">
                  <input matInput type="text"
                    placeholder="Color del header"
                    formControlName="bgHeadColor"
                    [(ngModel)]="campaign.styles.bgHeadColor"
                    required
                    maxlength="7">
                  <input matInput type="color"
                    placeholder="Color del header"
                    formControlName="bgHeadColor"
                    [(ngModel)]="campaign.styles.bgHeadColor"
                    required
                    maxlength="7">
                  <mat-hint>Ej: #ffffff</mat-hint>
                  <mat-hint class="input-length" align="end">{{ campaign.styles.bgHeadColor ? campaign.styles.bgHeadColor.length : 0 }} / 7</mat-hint>
                </mat-form-field>

                <mat-form-field class="input-info field-text input-color">
                  <input matInput type="text"
                    placeholder="Color de la etiqueta"
                    formControlName="bgLabelColor"
                    [(ngModel)]="campaign.styles.bgLabelColor"
                    required
                    maxlength="7">
                  <input matInput type="color"
                    placeholder="Color de la etiqueta"
                    formControlName="bgLabelColor"
                    [(ngModel)]="campaign.styles.bgLabelColor"
                    required
                    maxlength="7">
                  <mat-hint>Ej: #ffffff</mat-hint>
                  <mat-hint class="input-length" align="end">{{ campaign.styles.bgLabelColor ? campaign.styles.bgLabelColor.length : 0 }} / 7</mat-hint>
                </mat-form-field>

                <mat-form-field class="input-info field-text input-color">
                  <input matInput type="text"
                    placeholder="Color del borde"
                    formControlName="borderBoxColor"
                    [(ngModel)]="campaign.styles.borderBoxColor"
                    required
                    maxlength="7">
                  <input matInput type="color"
                    placeholder="Color del borde"
                    formControlName="borderBoxColor"
                    [(ngModel)]="campaign.styles.borderBoxColor"
                    required
                    maxlength="30">
                  <mat-hint>Ej: #ffffff</mat-hint>
                  <mat-hint class="input-length" align="end">{{ campaign.styles.borderBoxColor ? campaign.styles.borderBoxColor.length : 0 }} / 30</mat-hint>
                </mat-form-field>

                <mat-form-field class="input-info field-text input-color">
                  <input matInput type="text"
                    placeholder="Color del texto de costo"
                    formControlName="textCostColor"
                    [(ngModel)]="campaign.styles.textCostColor"
                    required
                    maxlength="7">
                  <input matInput type="color"
                    placeholder="Color del texto de costo"
                    formControlName="textCostColor"
                    [(ngModel)]="campaign.styles.textCostColor"
                    required
                    maxlength="7">
                  <mat-hint>Ej: #ffffff</mat-hint>
                  <mat-hint class="input-length" align="end">{{ campaign.styles.textCostColor ? campaign.styles.textCostColor.length : 0 }} / 7</mat-hint>
                </mat-form-field>

                <mat-form-field class="input-info field-text input-color">
                  <input matInput type="text"
                    placeholder="Color de descripción de etiqueta"
                    formControlName="textDescLabelColor"
                    [(ngModel)]="campaign.styles.textDescLabelColor"
                    required
                    maxlength="7">
                  <input matInput type="color"
                    placeholder="Color de descripción de etiqueta"
                    formControlName="textDescLabelColor"
                    [(ngModel)]="campaign.styles.textDescLabelColor"
                    required
                    maxlength="7">
                  <mat-hint>Ej: #ffffff</mat-hint>
                  <mat-hint class="input-length" align="end">{{ campaign.styles.textDescLabelColor ? campaign.styles.textDescLabelColor.length : 0 }} / 7</mat-hint>
                </mat-form-field>

                <mat-form-field class="input-info field-text input-color">
                  <input matInput type="text"
                    placeholder="Color de texto de la etiqueta"
                    formControlName="textLabelColor"
                    [(ngModel)]="campaign.styles.textLabelColor"
                    required
                    maxlength="7">
                  <input matInput type="color"
                    placeholder="Color de texto de la etiqueta"
                    formControlName="textLabelColor"
                    [(ngModel)]="campaign.styles.textLabelColor"
                    required
                    maxlength="7">
                  <mat-hint>Ej: #ffffff</mat-hint>
                  <mat-hint class="input-length" align="end">{{ campaign.styles.textLabelColor ? campaign.styles.textLabelColor.length : 0 }} / 7</mat-hint>
                </mat-form-field>

                <mat-form-field class="input-info field-text input-color">
                  <input matInput type="text"
                    placeholder="Color del título"
                    formControlName="textTitleColor"
                    [(ngModel)]="campaign.styles.textTitleColor"
                    required
                    maxlength="7">
                  <input matInput type="color"
                    placeholder="Color del título"
                    formControlName="textTitleColor"
                    [(ngModel)]="campaign.styles.textTitleColor"
                    required
                    maxlength="7">
                  <mat-hint>Ej: #ffffff</mat-hint>
                  <mat-hint class="input-length" align="end">{{ campaign.styles.textTitleColor ? campaign.styles.textTitleColor.length : 0 }} / 7</mat-hint>
                </mat-form-field>
              </section>

              <!-- Redirections -->
              <section>
                <mat-form-field class="input-info field-text">
                  <mat-label>Redirección</mat-label>
                  <mat-select formControlName="page" [(ngModel)]="campaign.page">
                    <mat-option value="av">Simular Avance</mat-option>
                    <mat-option value="sav">Simular Super Avance</mat-option>
                    <mat-option value="credit">Simular Crédito de Consumo</mat-option>
                  </mat-select>
                </mat-form-field>
              </section>

            <div class="special-info">
              <div class="buttons-box">
                <div class="upload-button-quaternaty">
                  <button mat-raised-button class="button-quaternaty">Subir ruts</button>
                  <input id="uploadInputCampaignRut" class="file-input" type="file"
                         (change)="showModalConfirmation($event.target.files, true)" accept=".csv"
                         [disabled]="uploadingRuts">
                  <div *ngIf="uploadingRuts" class="spinner-button">
                    <mat-progress-spinner color="accent" mode="indeterminate" class="spinner"></mat-progress-spinner>
                  </div><br><br>
                  <mat-progress-bar color="primary" mode="determinate" [value]="rutUploadingProgress">
                  </mat-progress-bar>
                  <span class="tip-image">Seleccionar un archivo CSV con el nombre de la campaña</span><br />
                  <span class="tip-image">Ejemplo CSV: Rut</span><br />
                  <span class="tip-image">Sin títulos en la primera fila del CSV, solo datos </span><br />
                  <div *ngIf="!!uploadingRuts" class="upload-info-section">
                    <span class="title-section">Subiendo Ruts a la campaña, esto puede tardar varios minutos</span>
                  </div>

                </div>
              </div>
            </div>

              <!-- Filters -->
              <section>
                <div class="user-location">
                  <mat-checkbox [(ngModel)]="campaign.filters.allUsers" [ngModelOptions]="{ standalone: true }">Sin rutero
                  </mat-checkbox>
                </div>
              </section>

            <!-- Filters -->
            <section>
              <!-- Av -->
              <div class="user-location">
                <mat-checkbox [(ngModel)]="campaign.filters.av.active" [ngModelOptions]="{ standalone: true }">Filtro de
                  avance activo
                </mat-checkbox>
              </div>

              <mat-form-field class="input-info field-text">
                <input matInput type="number" placeholder="Monto máximo de avance" formControlName="avMax"
                  [(ngModel)]="campaign.filters.av.max" onkeydown="return event.keyCode !== 69" required>
                <mat-hint>Ej: 2500000</mat-hint>
              </mat-form-field>

              <mat-form-field class="input-info field-text">
                <input matInput type="number" placeholder="Monto mínimo de avance" formControlName="avMin"
                  [(ngModel)]="campaign.filters.av.min" onkeydown="return event.keyCode !== 69" required>
                <mat-hint>Ej: 100000</mat-hint>
              </mat-form-field>

              <!-- Sav -->
              <div class="user-location">
                <mat-checkbox [(ngModel)]="campaign.filters.sav.active" [ngModelOptions]="{ standalone: true }">Filtro
                  de super avance activo
                </mat-checkbox>
              </div>

              <mat-form-field class="input-info field-text">
                <input matInput type="number" placeholder="Monto máximo de super avance" formControlName="savMax"
                  [(ngModel)]="campaign.filters.sav.max" onkeydown="return event.keyCode !== 69" required>
                <mat-hint>Ej: 2500000</mat-hint>
              </mat-form-field>

              <mat-form-field class="input-info field-text">
                <input matInput type="number" placeholder="Monto mínimo de super avance" formControlName="savMin"
                  [(ngModel)]="campaign.filters.sav.min" onkeydown="return event.keyCode !== 69" required>
                <mat-hint>Ej: 100000</mat-hint>
              </mat-form-field>

              <!-- Consumo -->
              <div class="user-location">
                <mat-checkbox [(ngModel)]="campaign.filters.consumer.active" [ngModelOptions]="{ standalone: true }">Filtro de consumo activo
                </mat-checkbox>
              </div>

              <mat-form-field class="input-info field-text">
                <input matInput type="number"
                       placeholder="Monto máximo de consumo"
                       formControlName="consumerMax"
                       [(ngModel)]="campaign.filters.consumer.max"
                       onkeydown="return event.keyCode !== 69"
                       required>
                <mat-hint>Ej: 2500000</mat-hint>
              </mat-form-field>

              <mat-form-field class="input-info field-text">
                <input matInput type="number"
                       placeholder="Monto mínimo de consumo"
                       formControlName="consumerMin"
                       [(ngModel)]="campaign.filters.consumer.min"
                       onkeydown="return event.keyCode !== 69"
                       required>
                <mat-hint>Ej: 100000</mat-hint>
              </mat-form-field>

              <!-- Monto y cuota -->
              <div class="user-location">
                <mat-checkbox [(ngModel)]="campaign.details.active" [ngModelOptions]="{ standalone: true }">Monto y cuota
                </mat-checkbox>
              </div>

              <!-- Quota and ammount -->
              <mat-form-field class="input-info field-text">
                <input matInput type="number"
                       placeholder="Monto del Avance / SuperAvance / Consumo"
                       formControlName="amount"
                       [(ngModel)]="campaign.details.amount"
                       onkeydown="return event.keyCode !== 69"
                       required>
                <mat-hint>Ej: 800000</mat-hint>
              </mat-form-field>

              <mat-form-field class="input-info field-text">
                <input matInput type="number"
                       placeholder="Número de cuotas"
                       formControlName="quota"
                       [(ngModel)]="campaign.details.quota"
                       onkeydown="return event.keyCode !== 69"
                       required>
                <mat-hint>Ej: 18</mat-hint>
              </mat-form-field>

              <!-- Product -->
              <mat-form-field class="input-info field-text">
                <mat-label>Condicion de filtro de productos</mat-label>
                <mat-select formControlName="haveProductCondition" [(ngModel)]="campaign.filters.haveProductCondition">
                  <mat-option value="or">ó / or / ||</mat-option>
                  <mat-option value="and">y / and / &&</mat-option>
                </mat-select>
              </mat-form-field>

              <div class="user-location">
                <mat-checkbox [(ngModel)]="campaign.filters.hasSA" [ngModelOptions]="{ standalone: true }">Cuenta Vista
                </mat-checkbox>
                <br>
                <mat-checkbox [(ngModel)]="campaign.filters.hasTR" [ngModelOptions]="{ standalone: true }">Tarjeta
                  Ripley
                </mat-checkbox>
                <br>
                <mat-checkbox [(ngModel)]="campaign.filters.hasTRM" [ngModelOptions]="{ standalone: true }">Tarjeta
                  Ripley Mastercard
                </mat-checkbox>
              </div>

            </section>

          </section>
        </section>
      </div>

      <!-- Preview -->
      <!-- <app-banner-campaign-avsav [campaign]="campaign"></app-banner-campaign-avsav> -->
      <!-- <div *ngIf="false" class="container-view-mobile" id="sticky">
        <div class="banners-container">

          <div class="advance-campaign box-style" [ngStyle]="{'border-color': campaign.styles.borderBoxColor}">
            <div class="header-section" [ngStyle]="{'background-color': campaign.styles.bgHeadColor}">
              <h3 class="product-title" [ngStyle]="{'color': campaign.styles.textTitleColor}">{{campaign.title}}</h3>
            </div>
            <div class="info-box">
              <div class="label-section">
                <div class="label" [ngStyle]="{'background-color': campaign.styles.bgLabelColor}">
                  <div class="label-text" [ngStyle]="{'color': campaign.styles.textLabelColor}">{{campaign.labelText}}
                  </div>
                </div>
                <div class="label-description" [ngStyle]="{'color': campaign.styles.textDescLabelColor}">
                  {{campaign.labelDescription}}</div>
              </div>
              <div class="product-available">
                <h2 class="available-amount">{{campaign.details.amount | chileanCurrency}}</h2>
              </div>
              <div class="campaign-details">
                <p class="quotas">{{campaign.quotasText}}</p>
                <p class="rate">{{campaign.rateText}}</p>
              </div>
              <p class="total-cost" [ngStyle]="{'color': campaign.styles.textCostColor}">{{campaign.totalCostText}}</p>
            </div>
            <div class="buttons-container">
              <button class="brand-button medium primary"
                [ngStyle]="{'background-color': campaign.styles.bgButtonColor}">
                {{campaign.buttonText ? campaign.buttonText: '¡Lo quiero!'}}
              </button>
            </div>
          </div>

        </div>
      </div> -->
    </mat-card-content>
    <div class="container-buttons">
      <button mat-button (click)="goBack()" class="i-left-arrow button-tertiary">volver</button>
      <div *ngIf="!id" class="main-buttons">
        <button mat-raised-button (click)="saveCampaign()" class="button-primary"
          [disabled]="!campaignForm.valid || idValidator()">Crear</button>
      </div>
      <div *ngIf="id" class="main-buttons">
        <button mat-raised-button (click)="updateCampaign()" class="button-primary"
          [disabled]="!campaignForm.valid">Actualizar</button>
      </div>
    </div>
  </mat-card>
</div>
