.main-container .main-container-form .container-info-form .container-form .date-box {
    width: 100%;
    margin-top: 40px;
}
.main-container .main-container-form .container-info-form .container-form{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container-info-form {
  display: flex;
  flex-direction: column;
}

.main-buttons {
    color: white;
}

.title-section{
  margin-bottom: 20px;
}