<div class="main-container">
    <mat-card class="container-info">
        <div class="container-title">
            <p class="title"> Descargar
                <span class="title-highlighted">Códigos de Canjes</span>
            </p>
        </div>
    </mat-card>
    <mat-card class="main-container-form">
        <mat-card-content class="container-info-form">
            <div class="container-form" [formGroup]="formGroup">
                <section class="col-form">
                    <mat-form-field class="input-info field-text">
                        <input matInput type="text" placeholder="ID de categoría Canje" (input)="onSearchChange()"
                            formControlName="category" required>
                        <mat-hint>Ej: supercanjesejemplo</mat-hint>
                    </mat-form-field>
                    <mat-form-field class="date">
                        <input matInput
                          [matDatepicker]="date"
                          placeholder="Mes de consulta"
                          [(ngModel)]="dateAsk"
                          formControlName="date"
                          required
                          disabled>
                        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                        <mat-datepicker
                            #date
                            disabled="false"
                            startView="multi-year"
                            (monthSelected)="setDate($event, date)">
                        </mat-datepicker>
                    </mat-form-field>
                    <div class="upload-button-quaternaty">
                        <button mat-raised-button class="button-quaternaty" [disabled]="loading || formGroup.invalid"
                            (click)="changeCategory()">Buscar Canje</button>
                        <button mat-raised-button class="button-quaternaty" [disabled]="loading || !loadedCategory"
                            (click)="downloadFile()">Descargar transacciones</button>
                        <div class="info-section">
                            <div>Se descargarán las <span class="strong">transacciones realizadas</span> 
                                para la categoría especificada</div>
                        </div>
                    </div>
                </section>
                <div class="category-info-container">
                    <div *ngIf="loadingCategory">
                        Cargando categoría
                    </div>
                    <span *ngIf="showWarn" class="warning">{{ showWarn }}</span>
                    <div class="category-detail" *ngIf="!loadingCategory && category" >
                        <span class="category-title">{{category.name}}</span>
                        <span [className]="categoryStatus.class" >{{ categoryStatus.text }}</span>
                        <span class="category-title">Creación: {{ creationDate }}</span>
                        <img  class="category-img" [src]="category.image" [alt]="category.name" />
                    </div>
                </div>
            </div>
            <br>
            <div *ngIf="loading" class="upload-button-quaternaty all-codes-button">
                <div class="upload-info-section">
                    <span class="title-section">Descargando Transacciones: {{ percTransactionsCommited }}%</span>
                    <section class="progress-bar-section">
                        <mat-progress-bar color="primary" mode="determinate" [value]="percTransactionsCommited">
                        </mat-progress-bar>
                    </section>
                </div>
            </div>
        </mat-card-content>
        <div class="container-buttons">
            <button mat-button (click)="goBack()" class="i-left-arrow button-tertiary">Volver</button>
        </div>
    </mat-card>
</div>